.home-main {
  padding-top: var(--header-full-height);
  padding-bottom: calc(var(--nav-height) + min(env(safe-area-inset-bottom), 12px));
  min-height: var(--full-height);
  background-color: var(--second-background-color);
  display: flex;
  align-items: center;
  justify-content: center;

  &.no-footer {
    padding-bottom: 0;
  }
}

.home-main-content {
  width: 100%;
}