.home-main {
  padding-top: var(--header-full-height);
  padding-bottom: var(--nav-height);
  min-height: var(--full-height);
  background-color: var(--second-background-color);
  display: flex;
  align-items: center;
  justify-content: center;

  &.no-footer {
    padding-bottom: 0;
  }
}

.home-main-content {
  width: 100%;
}