.image-loading-not-loaded {
  position: relative;
  background-color: var(--second-background-color);
  overflow: hidden;

  &:after {
    position: absolute;
    content: " ";
    width: 3px;
    background-color: var(--first-border-color);
    height: 200%;
    left: 0;
    top: -50%;
    transform: rotate(45deg);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    animation: load-img ease-in-out 1.7s infinite;
  }
}

@keyframes load-img {
  0% {
    left: -50%;
  }
  60% {
    left: 150%;
  }
  100% {
    left: 150%;
  }
}

.image-loading-loaded {
  animation: fade-in ease 0.2s;
}