.phone-input-cont {
  width: 100%;
  position: relative;
}

.phone-input {
  width: 100%;
  padding: 0 12px;
  height: var(--btn-input-height);
  border-radius: var(--second-radius);
  border: 2px solid var(--first-border-color);
  font-size: var(--big-font);
  text-align: left;
  font-family: my-font-bold, serif;
  letter-spacing: 4px;
  direction: ltr;
  transition: border ease 0.2s;

  &:focus {
    border: 2px solid var(--first-text-color);
  }
}