.select-title {
  font-size: var(--large-font);
  font-family: my-font-bold, serif;
  margin: 40px 0 25px 0;
  color: var(--third-text-color);
}

.select-items-cont {
  padding-bottom: 40px;
}

.select-item {
  font-size: var(--large-font);
  padding: 15px;
  width: calc(100% + 30px);
  margin-right: -15px;
  border-radius: var(--second-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &.have-icon {
    justify-content: flex-start;
  }

  &.remove {
    color: var(--toast-fail-text);
  }
}

.select-item-title {
  &.rtl {
    padding-right: 35px;
  }
}

.select-item-svg {
  width: 20px;
  height: 20px;
  margin-left: 8px;

  &.camera {
    path {
      stroke: var(--second-text-color);
    }
  }

  &.gallery {
    path {
      fill: var(--second-text-color);
    }

    rect {
      stroke: var(--second-text-color);
    }
  }
}

.select-item-radio {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 15px;
  top: calc(50% - 10px);
  opacity: 0;
  transform: scale(0.7);
  transition: opacity ease 0.2s, transform ease 0.2s;
  will-change: opacity, transform;

  &.rtl {
    right: 15px;
    left: initial;
  }

  &.show {
    opacity: 1;
    transform: scale(1);
  }
}

.select-label {
  display: block;
  width: 100%;
  margin-bottom: 25px;
}

.select-label-text {
  font-size: var(--title-font);
  font-family: my-font-bold, serif;
}

.select-main {
  background-color: var(--first-background-color);
  font-size: var(--title-font);
  margin-top: 10px;
  height: var(--btn-input-height);
  width: 100%;
  padding: 0 12px;
  border: 2px solid var(--first-border-color);
  border-radius: var(--first-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: border ease 0.2s;

  &:focus {
    border: 2px solid var(--first-text-color);
  }

  &:focus-visible {
    border: 2px solid var(--first-border-color);
  }
}

.select-main-text {
  color: var(--second-text-color);
  transition: color ease 0.2s;

  &.active {
    font-family: my-font-bold, serif;
    color: var(--first-text-color);
  }
}

.select-main-svg {
  width: 20px;
  height: 20px;
  transition: transform ease 0.2s;

  path {
    stroke: var(--first-text-color);
  }

  &.show {
    transform: rotate(180deg);
  }
}

.select-birth-row {
  position: absolute;
  z-index: var(--default-z-index);
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  background-color: transparent;
  border-bottom: 1px solid var(--first-border-color);
  border-top: 1px solid var(--first-border-color);
  pointer-events: none;
}

.select-birth-cont {
  text-align: center;
}

.select-birth-col {
  display: inline-block;
  vertical-align: top;
  width: 33.3%;
  text-align: center;
}

.select-birth-col-title {
  font-size: var(--large-font);
  font-family: my-font-bold, serif;
  margin: 10px 0 30px 0;
}

.select-birth-items {
  position: relative;
}

.select-birth-items-shadow {
  left: 0;
  top: 0;
  right: 0;
  height: 50px;
  position: absolute;
  pointer-events: none;

  &.bottom {
    bottom: 0;
    top: initial;
  }
}

.select-birth-items-scroll {
  overflow: auto;
  user-select: none;

  &:focus-visible {
    box-shadow: 0 0 0 2px var(--first-color);
  }
}

.select-birth-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: var(--title-font);
  color: var(--second-text-color);
  cursor: inherit;
  transition: color ease 0.1s, font-size ease 0.1s;

  &.active {
    font-family: my-font-bold, serif;
    font-size: var(--big-font);
    color: var(--first-text-color);
  }
}

.select-birth-save {
  margin: 30px 0 15px 0;
}